<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="mb-2">
        <%= form.label "Group Name *", {class: "form-label font-weight-bold"} %>
        <%= form.text_field :name, {class: "form-control", placeholder: "Enter a new group name"} %> 
      </div>  
      
      <div class="mb-2">
        <%= form.label "Activity Type *", {class: "form-label font-weight-bold"} %>
        <%= form.text_field :activity_type, {class: "form-control", placeholder: "What type of activity?"} %>
      </div>

      <div class="mb-2 text-left">
        <%= form.label "Senior?", {class: "form-label font-weight-bold"} %>
        <small>Check here if your group is aimed at those 65+</small>
        <%= form.check_box :senior, {class: "form-control"} %>

      </div>

      <div class="mb-2 text-left">
        <%= form.label "Gym Membership Required?", {class: "form-label font-weight-bold"} %>
        <small>Check here if a gym membership is required</small>
        <%= form.check_box :gym_required, {class: "form-control"} %>
      </div>

      <div class="mb-2">
        <%= form.label :about_us, {class: "form-label font-weight-bold"} %>
        <small>Feel free to format with basic HTML! (line breaks with &ltbr&gt) </small>
        <%= form.text_area :about_us, { class: "form-control", placeholder: "Tell us a a little about your group" } %>
      </div>

      
      <div class="mb-3">
        <%= form.label "Group Profile Photo", {class: "form-label font-weight-bold"} %>
        <%= form.file_field :avatar, {class: "form-control btn-sm"} %>
      </div>

      <div class="actions text-center">
        <%= form.submit "Let's Go!", class: "btn btn-block btn-warning" %>
      </div>
      <br>
      <small>Fields marked with * are required</small>
    </div>
  </div>
<% end %>
