<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="text-center font-weight-bold my-4">Groups</h1>

  <table class="table table-striped mx-auto align-center">
    <thread>
      <tr>
        <th>Profile</th>
        <th>Name</th>
        <th>Activity type</th>
        <th>Senior</th>
        <th>Actions</th>
        
      </tr>
    </thread>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <% if group.avatar.present? %>
            <td><%= image_tag group.avatar, class: "thumbnail" %></td>
          <% else %>
            <td><%= image_tag "group_ph.jpg", class: "thumbnail" %></td>
          <% end %>
          <td><%= group.name %></td>
          <td><%= group.activity_type %></td>
          <td><%= group.senior %></td>
          <td class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'Show', group, class: "btn btn-outline-warning btn-sm" %>
            <%if policy(group).edit?%>
            <%= link_to 'Edit', edit_group_path(group), class: "btn btn-outline-warning btn-sm" %>
            <% end %>
            <%if policy(group).destroy?%>
        <%= button_to "Destroy", group_path(group), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm btn-block" %>  
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="row justify-content-center">
    <%= link_to 'New Group', new_group_path, class: "btn btn-md btn-warning mx-1" %>
    <%= link_to 'Back', url_for(:back), class: "btn btn-md btn-warning mx-1" %>
  </div>  
</div>  
