<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="text-center">Groups</h1>

  <table class="table table-striped mx-auto align-center">
    <thread>
      <tr>
        <th>Name</th>
        <th>Activity type</th>
        <th>Senior</th>
        <th>Actions</th>
        
      </tr>
    </thread>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= group.activity_type %></td>
          <td><%= group.senior %></td>
          <td class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'Show', group, class: "btn btn-outline-warning btn-sm" %>
            <%= link_to 'Edit', edit_group_path(group), class: "btn btn-outline-warning btn-sm" %>
            <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Group', new_group_path %>
</div>  
