<div class="container-fluid">
  <div class="col justify-content-center my-4 pl-5 pr-2">
    <div class="row text-center bg-warning px-auto py-2 mb-4">
      <h3 class=" col font-weight-bold">Members(<%= @group.memberships.count %>)</h3>
    </div>

    <div class="row justify-content-around">
      <% if !@group.users.exists? %>
        <p>This group has no current members</p>
      <% else %>
        <% @group.users.each do |users| %>
          <div class="card mx-1" style="width: 12rem;">
            <h5 class="card-header text-center"><%= users.first_name%></h5>
            <div class="card-body text-center">
              <% if users.avatar.present? %>
                <%= image_tag users.avatar, class: "thumbnail" %>
              <% else %>
                <%= image_tag "user_ph.jpg", class: "thumbnail"%>
              <% end %>                   
              <p> Joined <br><%= @group.name %><br> on <br><%= users.memberships.find_by(user_id: users.id, group_id: @group.id).created_at.to_date %></p>

            </div>
            <div class="card-footer text-center">
              <%= link_to "Visit", user_path(users), class: "btn btn-sm btn-warning" %><br>
              <small><%= link_to "remove", delete_user_membership_path(user_id: users.id, group_id: @group.id), method: :delete %></small>
            </div>
            
          </div>
        <% end %>
      <% end %>
    </div>  
 
  </div>
</div>