<p class="text-center" id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row justify-content-center my-4 pl-5 pr-2">

    <!-- Profile photo -->

    <div class="col-md-6 px-5 mb-5 mx-auto">
      <div class="card text-center">
        <h1 class="card-header bg-warning text-center font-weight-bold"><%= @group.name %></h1>
        <h3 class="card-title text-muted text-center perm pt-2"><%= @group.activity_type %></h3> 
        <div class="card-body card-bg">
          <% if @group.avatar.attached? %>
            <img src="<%=(url_for(@group.avatar))%>" class="avatar" alt="<%= @group.name%>">
          <% else %>
            <%= image_tag "group_ph.jpg", class:"avatar" %>
          <%end%>
        </div>

        <div class="card-body mt-0">
          <% if !@group.about_us.present? %>
            <p class="alert alert-warning" role="alert">Help others connect! What does this group do? When do they do it? Where does it happen?</p>
          <% else %>
            <p><%= @group.about_us %></p>  
          <% end %>
        </div>  

        <div class="card-footer bg-warning border-top-0">
          <% if @group.senior === true %>
            <h6 class="font-weight-bold">This group is for swolemates aged 65+</h6>
          <% else %>
            <h6 class="font-weight-bold">We welcome all swolemates of all ages!</h6>
          <% end %>

          <% if @group.gym_required === true %>
            <h6>**This group requires a gym membership**<br>see group description for more details</h6>
          <% else %>
            <h6>No gym membership required</h6>
          <% end %>
        </div>
      </div>
    </div>

    <!-- /Profile photo -->
    
    <!-- Members display -->

    <div class="col-md mr-4">
      <div class="card">
        <div class="card-header text-center bg-warning">
          <h3 class="font-weight-bold">Members(<%= @group.memberships.count %>)</h3>
        </div>
        <div class="card-body card-bg">
          <div class="row justify-content-center">
            <% if !@group.users.exists? %>
              <p>This group has no current members</p>
            <% else %>
              <% @group.users.each do |users| %>
                <div class="card mx-1" style="width: 9rem;">
                  <h5 class="card-header text-center"><%= users.first_name%></h5>
                  <div class="card-body text-center">
                    <% if users.avatar.present? %>
                      <%= image_tag users.avatar, class: "thumbnail" %>
                    <% else %>
                      <%= image_tag "user_ph.jpg", class: "thumbnail"%>
                    <% end %>                   
                    <p> Joined <br><%= @group.name %><br> on <br><%= users.memberships.find_by(user_id: users.id, group_id: @group.id).created_at.to_date %></p>

                  </div>
                  <div class="card-footer text-center">
                    <%= link_to "Visit", user_path(users), class: "btn btn-sm btn-warning" %><br>
                    <small><%= link_to "remove", delete_user_membership_path(user_id: users.id, group_id: @group.id), method: :delete %></small>
                  </div>
                  
                </div>
              <% end %>
            <% end %>
          </div>  
        </div>
      </div>
    </div>

    <!-- /Members display -->


    <!-- Group Nav -->
    
    <div class="col-1 px-0">
      <nav class="nav flex-column text-right">
        <li class="nav-item mb-2">
          <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-warning btn-sm btn-block" %>
        </li>
        <li class="nav-item mb-2">
        <%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Are you sure? Super sure??' }, class: "btn btn-secondary text-white btn-sm btn-block" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Back', url_for(:back), class: "btn btn-warning btn-sm btn-block" %>
        </li>
      </nav>
    </div>
  </div>  
</div>
