<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @group.activity_type %>
</p>

<p>
  <strong>Senior:</strong>
  <%= @group.senior %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
