<p class="text-center" id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="">
    <%= link_to 'Back to Groups', url_for(:back), class: "btn btn-warning btn-sm btn-block" %>
  </div>
  <div class="row justify-content-center my-4 pl-2 pr-2">
    <!-- Profile photo -->

    <div class="col-md-7 px-2 mb-5 mx-auto">
      <div class="card text-center">
        <h1 class="card-header bg-warning text-center font-weight-bold"><%= @group.name %></h1>
        <h3 class="card-title text-muted text-center perm pt-2"><%= @group.activity_type %></h3> 
        <div class="card-body card-bg">
          <% if @group.avatar.attached? %>
            <img src="<%=(url_for(@group.avatar))%>" class="avatar img-fluid" alt="<%= @group.name%>">
          <% else %>
            <%= image_tag "group_ph.jpg", class:"avatar img-fluid" %>
          <%end%>
        </div>

        <div class="card-body mt-0">
          <% if !@group.about_us.present? %>
            <p class="alert alert-warning" role="alert">Help others connect! What does this group do? When do they do it? Where does it happen?</p>
          <% else %>
            <p><%= @group.about_us %></p>  
          <% end %>
        </div>  

        <div class="card-footer bg-warning border-top-0">
          <% if @group.senior === true %>
            <h6 class="font-weight-bold">This group is for swolemates aged 65+</h6>
          <% else %>
            <h6 class="font-weight-bold">We welcome all swolemates of all ages!</h6>
          <% end %>
 
          <% if @group.gym_required === true %>
            <h6>**This group requires a gym membership**<br>see group description for more details</h6>
          <% else %>
            <h6>No gym membership required</h6>
          <% end %>
        </div>
        
        <div class="d-flex mt-1">
          <div class="col px-0 mr-1">
            <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-block", style:"background: rgb(214, 182, 77); color: #000"%>
          </div>
          <div class="col px-0">
          <%= link_to "Destroy", group_path(@group), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-block", style:"background: rgb(221, 95, 36); color: #000"%>  
          </div>
        </div>

      </div>
    </div>
    <!-- /Profile photo -->
    
    <!-- Events display -->
    <div class="col-md pr-2">
      <div class="card">
        <div class="card-header text-center bg-warning">
          <h3 class="font-weight-bold"><%= @group.name %> events</h3>
        </div>
        <div class="card-body card-bg p-0">
          <div class="col justify-content-center">
            <% if !(@group.events.today_events.exists? || @group.events.upcoming.exists?) %>
              <p>There are no events yet.</p>
            <% else %>
              <% (@group.events.order(date: :asc)-@group.events.past_events.order(date: :asc)).first(8).each do |event| %>
              <%=link_to  group_event_path(@group, event), class:"event-link" do %>
                <% if event.date == Date.today%>
                  <div id="accordion" class="my-2 pb-2 border-bottom border-secondary" style="background: rgb(255, 247, 230)">
                <%else%>
                  <div id="accordion" class="bg-light my-2 pb-2 border-bottom border-secondary">
                <%end%>
                    <div class="d-flex align-items-center justify-content-between">
                    <% if event.date == Date.today%>
                      <div class="ml-4" style="color: rgb(221, 95, 36)">
                    <%else%>
                      <div class="ml-4">
                    <%end%>
                        <h4 class="mb-0"><%= event.date.strftime("%d") %></h4>
                        <p class="mb-0"><small><%= event.date.strftime("%B").upcase %></small></p>
                      </div>
                      <h5 class="mb-0 mr-4 text-dark">
                        <%= event.title.upcase %>
                      </h5>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div> 
        </div>
        <%= link_to 'All current and upcoming events', group_events_path(@group), class: "btn btn-warning btn-sm btn-block" %>
        <%= link_to 'Past events', group_events_path(@group, past: true), class: "btn btn-warning btn-sm btn-block" %>
        <%= link_to 'Create event', new_group_event_path(@group), class: "btn btn-warning btn-sm btn-block" %>
      </div>
    <div>
  </div>

  <!-- /Members display -->
  </div>  
  <%= link_to "Members (#{@group.memberships.count})", group_members_path(@group), class: "btn btn-warning btn-sm btn-block" %>
</div>
