<p id="notice"><%= notice %></p>

<% if @group.avatar.attached? %>
  <img src="<%=(url_for(@group.avatar))%>" class="avatar" alt="<%= @group.name%>">
<% else %>
  <%= image_tag "group_ph.jpg", class:"avatar" %>
<%end%>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @group.activity_type %>
</p>

<% if @group.about_us === nil %>
  <p>Help others connect! What does this group do? When do they do it? Where does it happen?</p>
<% else %>
  <p>
    <strong>About Us:</strong>
    <%= @group.about_us %>
  </p>  
<% end %>

<% if @group.senior === true %>
  <p>This group is for swolemates aged 65+</p>
<% else %>
  <p>We welcome all swolemates of all ages!</p>
<% end %>

<!-- group members display-->

<% if !@group.users.exists? %>
  <p>This group has no current members</p>
<% else %>
  <table>
    <tr>
      <th>Member</th>
      <th>Email</th>
      <th>Joined</th>
    </tr>

    <!-- lists current members in table data cells -->

    <% @group.users.each do |users| %>
      <tr>
        <td><%= users.full_name%></td>
        <td><%= users.email%></td>
        <td><%= users.memberships.find_by(user_id: users.id, group_id: @group.id).created_at.to_date %></td>
      </tr>
    <% end %>  
  </table>
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
