<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="text-center font-weight-bold my-4">Users</h1>

  <table class="table table-striped mx-auto align-center">
    <thread>
      <tr>
        <th>Profile</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th> 
      </tr>
    </thread>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <% if user.avatar.present? %>
            <td><%= image_tag user.avatar, class: "thumbnail" %></td>
          <% else %>
            <td><%= image_tag "user_ph.jpg", class: "thumbnail" %></td>
          <% end %>
          <td><%= user.first_name + " " + user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'Show', user, class: "btn btn-outline-warning btn-sm" %>
            <%= link_to 'Edit', edit_user_path(user), class: "btn btn-outline-warning btn-sm" %>
            <%= button_to "Destroy", user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm btn-block" %>  
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row justify-content-center">
    <%= link_to 'New User', new_user_path, class: "btn btn-md btn-warning mx-1" %>
    <%= link_to 'Back', url_for(:back), class: "btn btn-md btn-warning mx-1" %>
  </div>  
</div>  
