<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<!-- membership display table -->

<% if !@user.groups.exists? %>
  <p>This user has not joined any groups</p>
<% elsif @user.groups.exists?%>
  <table>
    <tr>
      <th>Group</th>
      <th>Activity</th>
      <th>Senior?</th>
    </tr>

    <!-- lists current groups & activity type in table data cells -->
    <!-- Further help needed figuring out how to display the "joined on" date -->
    <% @user.groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.activity_type %></td>
        <% if group.senior === true %>
          <td>Y</td>
        <% else %><td>N</td>
        <% end %> 
      </tr>   
    <% end %>   
  </table>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
