<p id="notice"><%= notice %></p>

<% if @user.avatar.attached? %>
  <img src="<%=(url_for(@user.avatar))%>" class="avatar" alt="<%= @user.full_name%>">
<% else %>
  <%= image_tag "user_ph.jpg", class:"avatar" %>
<%end%>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>About Me:</strong>
  <%= @user.about_me %>
</p>

<!-- membership display table -->

<% if !@user.groups.exists? %>
  <p>This user has not joined any groups</p>
<% elsif @user.groups.exists?%>
  <table>
    <tr>
      <th>Group</th>
      <th>Activity</th>
      <th>Senior?</th>
      <th>Joined</th>
    </tr>

    <!-- lists current group data in table data cells -->
    
    <% @user.groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.activity_type %></td>
        <% if group.senior === true %>
          <td>Y</td>
        <% else %><td>N</td>
        <% end %> 
        <td><%= group.memberships.find_by(user_id: @user.id, group_id: group.id).created_at.to_date %></td>
      </tr>   
    <% end %>   
  </table>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
