<div class="col-10 mx-auto">
  <div class="d-flex mt-4 justify-content-center">
    <%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-warning mr-4" %>
    <%= link_to 'Create event', new_group_event_path(@group), class: "btn btn-warning btn-sm ml-auto" %>
  </div>
  <div class="card mt-4">
    <div class="card-header text-center bg-warning">
      <% if !@events.empty? && @events.first.date >= Date.today%>
        <h3 class="font-weight-bold">Current and upcoming events for <%= @group.name %></h3>
      <%else%>
        <h3 class="font-weight-bold">Past events for <%= @group.name %></h3>
      <%end%>
    </div>
    <div class="card-body card-bg p-0">
      <div class="col justify-content-center">
        <% if @events.empty? %>
          <p>There are no events yet.</p>
        <% else %>
          <% @events.first(8).each do |event| %>
            <% if event.date == Date.today%>
              <div id="accordion" class="my-2 pb-2 border-bottom border-secondary" style="background: rgb(255, 247, 230)">
            <%else%>
              <div id="accordion" class="bg-light my-2 pb-2 border-bottom border-secondary">
            <%end%>
              <div class="row d-flex align-items-center justify-content-around">
                <div class="col-8 ">
                  <%=link_to  group_event_path(@group, event), class:"event-link" do %>
                  <div class="d-flex align-items-center justify-content-between">
                    <% if event.date == Date.today%>
                      <div class="ml-4 today-date">
                    <%else%>
                      <div class="ml-4">
                    <%end%>
                      <h4 class="mb-0"><%= event.date.strftime("%d") %></h4>
                      <p class="mb-0"><small><%= event.date.strftime("%B").upcase %></small></p>
                    </div>
                    <h5 class="mb-0 mr-4 text-dark">
                      <%= event.title.upcase %>
                    </h5>
                  </div>
                  <% end %>
                </div>
                <div class="col-2">
                  <% if current_user.admin_role? || current_user.moderator_role? %>
                    <div class="d-flex justify-content-around">
                      <%= button_to "Edit", edit_group_event_path(group_id: @group.id, id: event.id), method: :get, class: "btn btn-warning btn-sm btn-block" %>
                      <%= button_to "Destroy", group_event_path(group_id: @group.id, id: event.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm btn-block" %>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
