<p class="text-center" id="notice"><%= notice %></p>

<div class="container">
  <div class="row justify-content-between align-items-center">
    <h2>Event Details</h2>
    <div class="text-center d-flex justify-content-around">
      <%= link_to "Edit Event", edit_group_event_path(@group, @event), class: "btn btn-warning btn-sm mr-2" %>
      <%= link_to "Destroy Event", group_event_path(@group, @event), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-light btn-sm" %>
    </div>
  </div>
  <div class="row justify-content-md-center my-5">
    <div class="card mb-2 card-bg ">   
      <div>
        <div class="border-warning bg-warning pt-2">
          <h4 class="pl-4 font-weight-bold text-center"><%= @event.title %></h4>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="text-center mb-3 mr-4">
              <%= image_tag "event.jpg", class: "event-img"%>
            </div>
            <div>
              <div class="d-flex justify-content-start">
                <i class="fa fa-calendar-check mr-4 text-secondary"></i>
                <div>
                  <p class="font-weight-bold mb-0">Begins:</p>
                  <p><%= @event.date.strftime("%A, %B %d, %Y at %I:%M%p") %></p>
                </div>
              </div>
              <div class="d-flex justify-content-start">
                <i class="fa fa-comment mr-4 text-secondary"></i>
                <div>
                  <p class="font-weight-bold mb-0">Description:</p>
                  <p><%= @event.body %></p>
                </div>
              </div>
              <div class="d-flex justify-content-start">
                <i class="fa fa-map-marker mr-4 text-secondary"></i>
                <div class="pl-1">
                  <p class="font-weight-bold mb-0">Location:</p>
                  <p>Latitude: <%= @event.latitude %> Longitude: <%= @event.longitude %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body card-bg col-10 mx-auto mb-4">
          <%= image_tag "httdivs://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{@event.latitude},#{@event.longitude}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
        </div>
        <div class="card-footer border-warning bg-warning text-center">
        </div>
      </div>
    </div>
  </div>
</div>