<div class="container mt-3 text-center">
  <h1 class="display-5 font-weight-bold my-5 ">WELCOME TO THE NEST</h1>
  <div class="row justify-content-center">
    <div class="col">
      <h5 class="font-weight-bold mt-1"> It's 5:30am on a snowy morning. This is the year you get in shape, and so far you've been good about sticking to your new exercise routine...<br></h5>
      <p>But this morning your motivation is waning. You didn't get a great night's sleep, and your bed is so warm. You can skip just one day without it being a big deal, right?<br><br> Those bargains are familiar to many fitness aspirants, as is the low-level shame that accompanies skipping a workout and breaking a promise you have made to yourself. But the difficult task of starting and maintaining a fitness regimen could be made easier by not going it alone.<br><br>The accountability and motivation of a group exercise dynamic may be just what you need to keep moving toward your fitness goals.<br><br>Now is the time to explore a new journey with those who share your goals and interests! </p>
    </div>
    <div class="col">
      <div class="text-center">
        <h2 class="mb-2">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-1">
            <%= f.label :email %>
            <div class="mb-1">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="mb-1">
            <%= f.label :password %>
            <div class="mb-1">
            <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="mb-2 pl-5">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions ml-5">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <div class="ml-5">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>