<%= form_with(model: post) do |form| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container mb-3">
    <div class="card">
      <div class="card-body">
        <div class="mb-2">
          <%= form.label :title, {class: "form-label font-weight-bold"} %>
          <%= form.text_field :title, {class: "form-control", placeholder: "Enter title"} %>
        </div>

        <div class="mb-2">
          <%= form.label :content, {class: "form-label font-weight-bold"} %>
          <%= form.text_area :content,  {class: "form-control", placeholder: "Feel free to format with basic HTML! (line breaks with <br>)", size: "30x10"} %>
        </div>

        <div class="actions">
          <%= form.submit class: "btn btn-block btn-warning" %>
        </div>
      </div>  
    </div>  
  </div> 
<% end %>
